.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #5a49a0 !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
  background-color: #bd2130 !important;
}

.swal2-popup .swal2-styled:focus {
  outline: none !important;
  box-shadow: none !important;
}


.swal2-popup-preloader {
  // background: #18213200 !important;
}

.swal2-title-preloader {
  font-size: 16px !important;
  // color: white !important;
  text-transform: uppercase !important;
}

.swal2-content-preloader {
  text-align: center !important;
  color: #484848 !important;
  font-size: 16px !important;
}


.swal2-popup-custom {
  font-size: 13px !important;
  background: white !important;
  border: solid 3px white !important;
}

.swal2-title-custom {
  font-size: 16px !important;
  color: black !important;
}

.swal2-content-custom {
  text-align: justify !important;
  color: #484848 !important;
  padding-bottom: 15px !important;
}


.swal2-icon {
  margin: 0.25em auto 0.875em !important;
}

.swal2-loader {
  border-color: #d88201 transparent #00b93d transparent !important;
}
